@import "tailwindcss";

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 170deg;
}
@property --percent {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}
@property --percent-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 100%;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --bg-black: oklch(0% 0 0);
    --bg-dark: oklch(30.418% 0.00143 198.414);
    --bg-default: oklch(93.637% 0.00469 258.621);
    --bg-light: oklch(100% 0.00011 271.152);
    --shadow-dark: oklch(83.162% 0.00657 255.711);
    --shadow-light: oklch(95.514% 0.00011 271.152);
    --text-primary: oklch(30.117% 0.00947 268.373);
    --text-secondary: oklch(44.568% 0.0121 267.267);
    --text-light: oklch(95.157% 0.00878 264.61);
    --accent: oklch(62.505% 0.20107 266.356);
    --accent-dark: oklch(53.312% 0.18149 265.856);
    --danger: oklch(64.648% 0.1648 16.561);
    --danger-dark: oklch(56.264% 0.15859 15.751);
    --success: oklch(69.836% 0.14328 157.526);
    --success-dark: oklch(59.473% 0.1383 155.255);

    --shadow-default: 
        1px 1px 2px var(--shadow-dark),
        -1px -1px 2px var(--shadow-light),
        inset 0px 0px 0px var(--shadow-dark),
        inset 0px 0px 0px var(--shadow-light);
    --shadow-bold: 1px 1px 2px var(--shadow-dark),
        -3px -3px 2px var(--shadow-light);
    --shadow-bold-hover: 3px 3px 4px var(--shadow-dark),
        -3px -3px 4px var(--shadow-light);
    --shadow-pressed: 
        0px 0px 0px var(--shadow-dark), 
        0px 0px 0px var(--shadow-light), 
        inset 2px 2px 4px var(--shadow-dark), 
        inset -2px -2px 2px 2px var(--shadow-light);
    --shadow-default-dark: 
        1px 1px 2px var(--bg-dark);
    --shadow-hover-dark:
        1px 1px 6px var(--bg-dark); 

    --sheen-light: oklch(96.996% 0.00298 264.793);
    --sheen-dark:  oklch(90.326% 0.00596 264.652);
    --angle: 170deg;
    --percent: 0%;
    --percent-2: 100%;
}

@utility bg-default { background-color: var(--bg-default); }
@utility bg-light { background-color: var(--bg-light); }
@utility bg-dark { background-color: var(--bg-dark); }
@utility text-light { color: var(--text-light); }
@utility text-primary { color: var(--text-primary); }
@utility text-secondary { color: var(--text-secondary); }
@utility text-accent { color: var(--accent); }
@utility outline-accent { outline-color: var(--accent-dark); }
@utility stroke-accent { stroke: var(--accent); }
@utility stroke-accent-dark { stroke: var(--accent-dark); }
@utility stroke-success { stroke: var(--success); }
@utility stroke-success-dark { stroke: var(--success-dark); }
@utility stroke-danger { stroke: var(--danger); }
@utility stroke-danger-dark { stroke: var(--danger-dark); }
@utility text-accent-dark { color: var(--accent-dark); }
@utility text-danger { color: var(--danger); }
@utility text-danger-dark { color: var(--danger-dark); }
@utility text-success { color: var(--success); }
@utility text-success-dark { color: var(--success-dark); }
@utility bg-text-success { background-color: var(--success); }

@utility shadow-default { box-shadow: var(--shadow-default); }
@utility shadow-bold { box-shadow: var(--shadow-bold); }
@utility shadow-bold-hover { box-shadow: var(--shadow-bold-hover); }
@utility shadow-pressed { box-shadow: var(--shadow-pressed); }
@utility shadow-default-dark { box-shadow: var(--shadow-default-dark); }
@utility shadow-hover-dark { box-shadow: var(--shadow-hover-dark); }

@utility bg-gradient { background: linear-gradient(var(--angle), var(--sheen-light) 0%, var(--sheen-dark) 100%); }
@utility bg-gradient-pressed { --angle: 350deg; }
@utility bg-gradient-dark { background: linear-gradient(var(--angle), var(--bg-dark) var(--percent), var(--bg-black) var(--percent-2)); }
@utility bg-gradient-dark-pressed {
    --percent: 35%;
    --percent-2: 120%;
}

@utility transition-custom-all {
    transition: box-shadow 220ms ease, transform 120ms ease, color 120ms ease, --angle 60ms ease, --percent 200ms ease, --percent-2 200ms ease;
}
